{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container p-2 mt-4">
    <div class="container p-3">
        <h1 class="fw-bold">Generate Product QR Code</h1>
    </div>
    <div class="row p-3">
        <div class="container d-flex justify-content-between">
            <a href="" class="btn btn-outline-dark">Generate QR Code</a>
            <img src="" alt="QR Code">
        </div>
    </div>
    <div class="row p-3">
        <div class="container">
            <h6 class="fw-bold">Product Details</h6>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control form" placeholder="Product Name" name="name">
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control form" placeholder="Quantity" name="quantity">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control form" placeholder="Price" name="price">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <input type="text" id="editor-container" class="form-control form-control-lg form" placeholder="Product Description" name="description">
                    </div>
                </div>
                <h6 class="mt-3 fw-bold">Product Image</h6>
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <input class="form-control form" type="file" id="formFile" name="product_image">
                    </div>
                </div>
                <h6 class="mt-3 fw-bold">Product Link</h6>
                <div class="container d-flex justify-content-between">
                    <div class="link p-3 btn d-flex bg-light">
                        <a href="" class="text-decoration-none text-dark me-5">qrcode.herokuapp.com/{{product.id}}</a>
                        <div><i class='bx bx-copy bx-flip-horizontal' ></i></div>
                    </div>
                    <button type="submit" class="p-2 btn btn-dark">Save Product Details</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}

